<div class="main-content">

    <page-title title="Body &amp; Soul" sub-text="Line-Up"></page-title>

    <div id="stages" class="panel">
        <div class="btn-group-vertical">
            <a href="#/bs-stage" class="btn btn-default">Body &amp; Soul Stage
                <span class="pull-right icon icon-right-nav"></span>
            </a>

            <a href="#/upstage" class="btn btn-default">Upstage
                <span class="pull-right icon icon-right-nav"></span>
            </a>

            <a href="#/earthship" class="btn btn-default">Earthship
                <span class="pull-right icon icon-right-nav"></span>
            </a>
        </div>
    </div>
</div>
