<div class="main-content">

    <page-title title="Earthship" sub-text="Acts"></page-title>

    <div id="stages" class="panel">
        <div class="btn-group-vertical">
            MAUD IN CAHOOTS | RUFF CHUFF LIVE CREW | COME ON LIVE LONG | LEO MORAN & ANTO THISTLETWAITE | THE TAV JAM BAND | WOB! | JOE FURY & THE HAYRIDE | PUNCH FACE CHAMPIONS | WILLOW SEA & GUESTS | AINDRIAS DE STAIC AND THE LATCHIKOS | ATTENTION BEBE | STEVIE G & THE DEEP SOUTH SOUL SOUNDSYSTEM | THE ESKIES | SIMI CROWNS | NOELIE MCDONNELL & BAND | EDFT | I AM NIAMH | POLYPHONIC X | THE AMAZING FEW | SINEAD WHITE | THE GROUND WILL SHAKE | KOUKIE | FLOOR STAFF | SOMERVILLE | EILEEN KEANE | MALCOLM LONDON | SYMPHONIC FUNK | TRADIOHEAD | MIKEY AND THE SCALLYWAGS | STRANGE BOATS | G.I.R.O | THE COLD DRAW | LOUISIANA 6 | SHAY COTTER AND THE NEW BLUES | ANALOGUE WAVE | IN THE WILLOWS
        </div>
    </div>
</div>
