<div class="main-content">
    
    <page-title title="Home" sub-text="Page"></page-title>
    
    <div class="panel">
        <p>ELECTRIC PICNIC BABY!! This is a unoffical app for EP 2014. It's a pet project that I decided to work on over the weekend. I shamelessly have to admit that the design, backgroud and logo are shamelessly borrowed from the offical Electric Picnic website.</p>

        <p>This app is the brain child of past experiences at festivals where I missed certain performances that I really want to see. Plus, I am just to cheap to buy a set of tags or a map from the concert reps. So as I will have my ohone every with me why not make and app right?</p>

        <p>Check out the acts at each of the stages and select the title of the act you want to see, this will add it to your FAVOURITES list and present a notification to remind you that act is about to start on that stage. Use the map to determine where you are, and if you need further info visit the Offical EP website. Enjoy your weekend.</p>

        <p>Colúm Bennett</p>
    </div>
</div>
