<div class="main-content">

    <img src="./../imgs/ep_map.png">
    <!-- <page-title title="Festival" sub-text="Map"></page-title>

    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus neque at blandit aliquam. Etiam tincidunt ornare pretium. Suspendisse sem orci, tempus non dui dapibus, rutrum viverra eros. Donec nec facilisis dolor, vel molestie augue. Integer malesuada feugiat nisi. Aliquam aliquet erat in ante malesuada, vel sollicitudin quam aliquam. Quisque fringilla lacus felis, in convallis erat placerat in. Maecenas tempor orci eros, at vehicula odio eleifend eget. Maecenas dolor massa, tempus suscipit vulputate rutrum, tempor quis nisi. Pellentesque semper dolor a lectus dignissim gravida. Integer eleifend feugiat eros, ut euismod ipsum blandit at. Nulla egestas turpis a libero tempor vulputate.</p>

        <p>In id fringilla felis, eu rutrum lectus. Sed egestas ac lacus ut eleifend. Sed sed lorem id arcu volutpat auctor. Fusce egestas sem pretium eleifend lobortis. Nulla facilisi. Nulla non nisi fermentum, fermentum lacus malesuada, vulputate diam. Aenean pulvinar tristique ligula nec ultricies. Curabitur sem orci, facilisis eget eros eget, aliquet pharetra est. Donec auctor felis consectetur augue accumsan iaculis. Sed iaculis erat vitae vehicula pulvinar. Etiam interdum, tortor eu pretium venenatis, leo ante venenatis mauris, vel elementum ex magna sed odio. Mauris pellentesque aliquam aliquam. Sed id quam imperdiet mi auctor condimentum id id ex.</p>
    </div> -->
</div>
