<div class="main-content">

    <page-title title="More" sub-text="Page"></page-title>

     <div class="panel"> 
        <div class="pull-left">
            <a ng-click="webview()">
                <img src="./../css/imgs/ep_logo14.png">
            </a>  
        </div>   
        <div class="pull-right">
            <a href="shazam://">
                <img src="./../css/imgs/Shazam.png">
            </a>    
        </div>
        <!-- <div class="pull-left"></div>   <div class="pull-right"></div> -->
     </div> 
</div>
