<div class="main-content">

    <page-title title="Stages" sub-text="Line-Up"></page-title>

    <div id="stages" class="panel">
        <div class="btn-group-vertical">
            <a href="#/body" class="btn btn-default">Body &amp; Soul
                <span class="pull-right icon icon-right-nav"></span>
            </a>

            <a href="" class="btn btn-default">Comedy
                <span class="pull-right icon icon-right-nav"></span>
            </a>

            <a href="" class="btn btn-default">Trailer Park
                <span class="pull-right icon icon-right-nav"></span>
            </a>

            <a href="" class="btn btn-default">Salty Dog
                <span class="pull-right icon icon-right-nav"></span>
            </a>

            <a href="" class="btn btn-default">TrenchTown
                <span class="pull-right icon icon-right-nav"></span>
            </a>
        </div>
    </div>
</div>
